@{
    ViewData["Title"] = "Home Page";
}

@*<div class="" style="max-width: auto ">
    <img class="slideshow" src="https://cdn.branchcms.com/190jW12rXV-1028/images/norway-rat-auburn-maine.jpg" style="width: auto" />
    <img class="slideshow" src="https://cdn.britannica.com/63/161063-131-4644AEA4/rats-wood-surface.jpg" style="width: auto" />
    <img class="slideshow" src="https://images.theconversation.com/files/287629/original/file-20190812-71932-14cvwej.jpg?ixlib=rb-1.1.0&rect=40%2C5%2C3795%2C2869&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" style="width: 500px" />
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("slideshow");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000); // Change image every 3 seconds
    }
</script>*@






<div class="text-center">
    <h1 class="display-4" style="font-family:ratoela; color: red">Beware of Rat Media</h1>
    <p>Rats have infiltrated all levels of our media and seek to promote their murid agenda</p>

    <p>
        As the <a href="https://www.theonion.com/nation-s-conservationists-warn-there-only-8-trillion-ra-1819578386">population</a> of rats continues to grow, they have grow sloppy in their plans to subvert the media industry.
        Rats are secretly hiding their plot of <a href="https://www.theonion.com/rats-scramble-to-hide-fully-functioning-amusement-park-1846606703">world domination.</a>
        Is it a coincidence that the year 2020, a year marred by one of the worst pandemics in human history, was also the year of the rat? No! The bubonic plague was the result of rats. Who's to say that modern plagues are not secretly part of their schemes as well? 

    </p>
    <h6>Rats have even produced their own propaganda, advocating for increased interaction between humans and rodents.</h6>
    <iframe width="336" height="189" src="https://www.youtube.com/embed/72KsjWUCUJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>