@{
    ViewData["Title"] = "Disclaimer";
}
<h1 style="color: red">@ViewData["Title"]</h1>

<p>The views expressed are not necessarily my views.</p>
<p>Interaction between rats and humans should be deemed an ultra-hazardous activity involving risks including, but not limited to, exposure to various diseases, serious bodily injury, permanent disability, paralysis, mutation, constipation and unavoidably, death.</p>
<p>Rat bites can lead to disease transmission including, but not limited to, rat-bite fever, rat-borne typhus, trichinosis, leptospirosis, hantavirus and of course the Bubonic Plague. Although it is maintained that fleas were the primary transmitter of the black plague, all well-thinking people know it was the rat, which is a dirty and disgusting creature to be avoided in perpetuity ad infinitum.</p>
<p>Should you choose to interact with rats or engage with rodent affiliated media, you hereby assume any and all risk of injury and disease to both you and your loved ones and hereby release and discharge me from any any and all liabilities, claims, demands, losses or damages caused to you or alleged to be caused, in whole or in part, by your silly insistence on rat interaction</p>

<h6><a asp-controller="Home" asp-action="Thanks">Do not fall for their deception: Rat media is Propaganda!</a></h6><br />