@{
    ViewData["Title"] = "Thanks";
}
<h1>Thank you for visiting!</h1>
<p>
    Thank you visiting my site. I've had a lot of fun working on it and hope to continue to add to it.
    For more questions about Rat Media, contact Megan Loertscher. For website fixes or feature ideas, contact Tanner Glazier.
</p> 

